/.gradle/
/.idea/
/gradle/
/SQLite Viewer/A couple of components/
/SQLite Viewer/Connection/
/SQLite Viewer/Something went wrong/
/SQLite Viewer/What's inside/
/SQLite Viewer/lesson-info.yaml
/build.gradle
/course-info.yaml
/course-remote-info.yaml
/gradlew
/gradlew.bat
/settings.gradle
/SQLite Viewer/task/test/
